.listname {

  a {
    cursor: pointer;
  }

  >  a {
    display: inline-block;
    color :#6e6e6e;
    text-decoration: none;
    line-height: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius:3px;
  }

  .actions {
    border-radius: 3px;
    background: #fff;
    padding: 8px 20px;
    text-align: right;
    svg {
      width: 20px;
      height: 20px;
      fill: pink;
    }
  }
}




